body {
  text-align: center;
  background-color: #1b5358;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #9c4a6e;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("images/tom1.jpeg");

}

.a {
background-image: url("images/tom2.jpeg");

}

.s {
background-image: url("images/tom3.jpeg");

}

.d {
background-image: url("images/tom4.jpeg");

}

.j {
background-image: url("images/snare.jpeg");

}

.k {
background-image: url("images/crash.jpeg");

}

.l {
background-image: url("images/kick.jpeg");

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
